<!--------------------------------------------------------------------------->
<!-- Banner -->
<!--------------------------------------------------------------------------->
<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicadores do carrossel -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Banner 1"></button>
      <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Banner 2"></button>
      <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Banner 3"></button>
    </div>

    <!-- Itens do carrossel -->
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://picsum.photos/1200/300?random=1" class="d-block w-100" alt="Banner 1">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="https://picsum.photos/1200/300?random=2" class="d-block w-100" alt="Banner 2">
        <div class="carousel-caption">
          <h3><strong>Reciclar é simples, <br>viver sustentável é lógico</strong></h3>
          <p>Participe e ajude a reduzir os resíduos plásticos.</p>
          <a href="#" class="btn btn-banner">SAIBA MAIS</a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="https://picsum.photos/1200/300?random=3" class="d-block w-100" alt="Banner 3">
      </div>
    </div>

    <!-- Botões de controle -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>

  </div>