<!--------------------------------------------------------------------------->
<!-- Destaques de Campanhas Ativas -->
<!--------------------------------------------------------------------------->
<div class="campaigns-section container">
    <h2 class="text-center mb-4"><strong>Destaques de Campanhas Ativas</strong></h2>
    <div class="row g-4">

        <!-- Campanha 1 -->
        <div class="col-md-4">
            <div class="campaign-card">
                <div class="campaign-image">
                    <img src="img/campanhas/recicla-pomerode.png" alt="Campanha 1">
                    <div class="campaign-title">Recicla Pomerode</div>
                </div>
                <div class="campaign-description">
                    <p>Localize o ecoponto mais próximo, registre seus descartes e ajude a manter nossa cidade exemplo.</p>
                    <a href="#" class="btn-campaign">SAIBA MAIS</a>
                </div>
            </div>
        </div>

        <!-- Campanha 2 -->
        <div class="col-md-4">
            <div class="campaign-card">
                <div class="campaign-image">
                    <img src="img/campanhas/plastico-zero.png" alt="Campanha 2">
                    <div class="campaign-title">Plástico Zero</div>
                </div>
                <div class="campaign-description">
                    <p>Bora limpar? Traga disposição, as luvas são por nossa conta!</p>
                    <a href="#" class="btn-campaign">SAIBA MAIS</a>
                </div>
            </div>
        </div>

        <!-- Campanha 3 -->
        <div class="col-md-4">
            <div class="campaign-card">
                <div class="campaign-image">
                    <img src="img/campanhas/descarte-digital.png" alt="Campanha 3">
                    <div class="campaign-title">Descarte Digital</div>
                </div>
                <div class="campaign-description">
                    <p>Liberte suas gavetas! Tem cabos, pilhas ou celulares velhos parados? Traga seus eletrônicos para o descarte ambientalmente seguro. 
                    </p>
                    <a href="#" class="btn-campaign">SAIBA MAIS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="campaigns-section container">
</div>