<!--------------------------------------------------------------------------->
<!-- Offcanvas -->
<!--------------------------------------------------------------------------->

<div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header" style="background-color: #2c5836;">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel" style="color: #fefcf0;">Navegação</h5>
    <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <button class="btn-custom btn-auth-offcanvas d-lg-none mb-3">
      Entrar ou Cadastrar
    </button>
    <form class="offcanvas-search-form d-lg-none mb-4">
      <input type="text" placeholder="Pesquisar" class="form-control">
      <button type="submit" class="btn-custom offcanvas-search-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fefcf0">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
        </svg>
      </button>
    </form>

    <div class="navbar-nav d-flex flex-column">
      <button class="nav-link btn">Pontos de coleta</button>
      <button class="nav-link btn">Notícias</button>
      <button class="nav-link btn">Institucional</button>
      <button class="nav-link btn">Benefícios</button>
      <button class="nav-link btn">Usuário cidadão</button>
    </div>
  </div>

  <!-- Menu colapsável -->
  <div class="collapse navbar-collapse justify-content-end" id="secondaryMenu">
    <div class="navbar-nav d-flex flex-column flex-lg-row">
      <button class="nav-link btn">Pontos de coleta</button>
      <button class="nav-link btn">Notícias</button>
      <button class="nav-link btn">Institucional</button>
      <button class="nav-link btn">Benefícios</button>
      <button class="nav-link btn">Usuário cidadão</button>
    </div>
  </div>
</div>
</nav>