<!--------------------------------------------------------------------------->
<!-- Notícias e Newsletter -->
<!--------------------------------------------------------------------------->
<section class="news-newsletter-section">
  <div class="news-newsletter-container">

    <!-- Retângulo Notícias -->
    <div class="news-box">
      <h2><strong>Notícias Sustentáveis</strong></h2>
      <p>Acompanhe as principais novidades sobre reciclagem, sustentabilidade e impacto ambiental positivo, e
        descubra como você também pode fazer parte dessa mudança.</p>
      <a href="#" class="btn-box">SAIBA MAIS</a>
    </div>

    <!-- Retângulo Newsletter -->
    <div class="newsletter-box">
      <h2><strong>Newsletter</strong></h2>
      <p>Não perca nenhuma campanha: cadastre-se e ganhe pontos extras!</p>

      <!-- Formulário de inscrição -->
      <form class="newsletter-form">
        <input type="email" placeholder="Digite seu email" required>
        <button type="submit" class="btn-box">INSCREVER</button>
      </form>

    </div>

  </div>
</section>