<!--------------------------------------------------------------------------->
<!-- Ranking -->
<!--------------------------------------------------------------------------->
<section class="ranking-section">
  <div class="ranking-container">

    <div class="ranking-image-wrapper">
      <img src="img/ranking.png" alt="Imagem da comunidade ecoLogica">
    </div>

    <div class="ranking-content-wrapper">
      <h2><strong>Ranking Semanal de Usuários</strong></h2>

      <ol class="ranking-list">
        <li class="rank-1">
          <span class="rank-position">
            1º
          </span>
          <span class="rank-name">Ana Beatriz Farias</span>
          <span class="rank-score">1.250 pts</span>
        </li>
        <li class="rank-2">
          <span class="rank-position">
            2º
          </span>
          <span class="rank-name">Carlos Eduardo Lima</span>
          <span class="rank-score">1.180 pts</span>
        </li>
        <li class="rank-3">
          <span class="rank-position">
            3º
          </span>
          <span class="rank-name">Mariana Costa</span>
          <span class="rank-score">1.150 pts</span>
        </li>
        <li>
          <span class="rank-position">4º</span>
          <span class="rank-name">Rafael Oliveira</span>
          <span class="rank-score">1.090 pts</span>
        </li>
        <li>
          <span class="rank-position">5º</span>
          <span class="rank-name">Juliana Pereira</span>
          <span class="rank-score">1.050 pts</span>
        </li>
      </ol>

      <div class="collective-highlights">
        <h3><strong>Destaque coletivo:</strong></h3>
        <p>12 toneladas recicladas no último mês.</p>
        <p>18.500 kg de CO₂ evitados.</p>
      </div>
    </div>

  </div>
</section>

<!--------------------------------------------------------------------------->
<!-- Imagem Full Width -->
<!--------------------------------------------------------------------------->
<section class="fullwidth-image-section2">
  <img src="img/mato.png" alt="Imagem Full Width">
</section>