<footer>
  <div class="footer-top">
    <div class="footer-container">

      <div class="footer-logo">
        <img src="img/logo.png" alt="Logo">
      </div>

      <div class="footer-column">
        <button type="button" class="footer-toggle">
          <h4>Empresa</h4>
          <span class="footer-arrow">&#9654;</span>
        </button>
        <ul class="footer-links-list">
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Equipe</a></li>
          <li><a href="#">Carreiras</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <button type="button" class="footer-toggle">
          <h4>Serviços</h4>
          <span class="footer-arrow">&#9654;</span>
        </button>
        <ul class="footer-links-list">
          <li><a href="#">Consultoria</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Suporte</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <button type="button" class="footer-toggle">
          <h4>Recursos</h4>
          <span class="footer-arrow">&#9654;</span>
        </button>
        <ul class="footer-links-list">
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      
      <div class="footer-contact">
        <h4>Contato</h4>
        <p>Email: contato@ecologica.com</p>
        <p>Telefone: (00) 1234-5678</p>
        <p>Endereço: Rua Exemplo, 123</p>
      </div>
      
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-container">
      © 2025 ecoLogica. Todos os direitos reservados
      <br>CNPJ 12.345.678/0001-90 
    </div>
  </div>
</footer>